@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@700;900&display=swap");

*:focus {
  box-shadow: 0 0 0 0.2rem #c4b5fd;
  outline: none;
}

::selection {
  background-color: #6d28d9;
  color: #f1f5f9;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: #ddd6fe;
}

body::-webkit-scrollbar-thumb {
  background-color: #6d28d9;
}
